html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: Arial, sans serif;
}

.container {
	height: 100%;
	margin: 0 auto;
	background-color: #eee;
}

.header {
	background-color: #000;
	height: 50px; width: 100%;
	top:0px;
    left:0px;
    position:absolute;
}

.content {
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}

.problem {
	position: relative;
	float: left;
	width: 30%; height: 400px;
	background-color: #fff;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
	border: 1px solid #eee;
	box-shadow: 3px 3px 3px #ddd;
	border-radius: 2px;
}

.enunciado {
	position: relative;
	margin: 0 auto;
	font-family: Verdana, sans;
	font-size: 12px;
	text-align: center;
	padding: 10px 20px 20px 20px;
	display: table-cell;
}

input[type="text"] {
	position: relative;
	height: 27px; width: 160px;
	margin-left: 38px;
	padding-left: 5px;
	border-radius: 5%;
	border: 1px solid #ccc;
	outline: none;
	font-family: Arial, sans;
	font-size: 20px;
	font-weight: bolder;
	color: #f17238;
}

input[type="button"] {
	position: relative;
	height: 30px; width: 130px;
	margin-left: 10px;
	background-color: #f17238;
	border-radius: 5%;
	border: none;
    outline: none;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	cursor: hand;
}

.result {
	position: relative;
	float: center;
	height: 40px;
	margin-top: 20px;
	border-radius: 5%;
	font-size: 50px;
	font-weight: bolder;
}

#note {
	font-style: italic;
	font-size: 11px;
	color: #888;
}

.pheader {
	margin: 0 auto;
	font-size: 30px;
	font-weight: bolder;
	border-bottom: 1px dashed #aaa;
	padding: 20px 0px 20px 0px;
}