html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: Arial, sans serif;
}

.container {
	height: 100%;
	margin: 0 auto;
	background-color: #eee;
}

.header {
	background-color: #000;
	height: 50px; width: 100%;
	top:0px;
    left:0px;
    position:absolute;
}

.content {
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}

.problem {
	display: inline-block;
	background-color: #fff;
	width: 30%; height: 400px;
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid #eee;
	box-shadow: 3px 3px 3px #ddd;
	border-radius: 2px;
	text-align: center;
}

.enunciado {
	position: relative;
	margin: 0 auto;
	font-family: Verdana, sans;
	font-size: 12px;
	text-align: center;
	padding: 20px 20px 20px 20px;
	display: table-cell;
}

.buttonCalc {
	position: relative;
	width: 50%;
	background-color: #f17238;
	border-radius: 5%;
	font-size: 25px;
	font-weight: bolder;
	color: white;
   	height: 40px;
   	vertical-align: middle;
   	margin-right: 20px;
   	padding: 0px 20px 0px 20px;
}

.result {
	position: relative;
	border-radius: 5%;
	font-size: 50px;
	font-weight: bolder;
   	float: center;
   	height: 40px;
   	vertical-align: middle;
   	margin-right: 20px;
   	padding: 0px 20px 0px 20px;
}